accelerate==0.33.0
namegenerator==1.0.6
numpy==2.1.3
pandas==2.2.3
sentencepiece
torch==2.4.0+cu124
tqdm==4.66.5
transformers==4.44.2
wandb==0.18.7
yake==0.4.8
argparse
gdown
langchain==0.3.11
langchain_community==0.3.11
langchain_huggingface==0.1.2
tiktoken==0.8.0
rank-bm25==0.2.2

